@model FT.Lib.Data.Models.Inventario.ProductoModel


<div class="card">
    <div class="card-header">
        <h3><strong>Prueba</strong></h3>
    </div>
    <div class="card-body">
        <p>Aqui hay texto</p>
    </div>
</div>
