@using FT.Lib.Data.Models.CuentasPorCobrar
@model PagedList.PagedList<ElementoInvModel>
@{
    var filtro = ViewBag.Filtro as FT.Lib.Data.Models.Filtro.FiltroCuentasPorCobrar;
}

<body>
    <div class="card">
        <div class="card-header">
            <h3><strong>Buscar Producto</strong></h3>
        </div>
        @await Html.PartialAsync("_FiltroCuentasPorCobrar", filtro)
    </div>

    @await Html.PartialAsync("_Listar", Model)
</body>
@* </html> *@