@* @using FT.Lib.Data.Models.Inventario *@
@* @model PagedList.PagedList<ElementoInvModel> *@

<div class="card">
    <div class="card-header"><h3><strong>Resultados</strong></h3></div>
    <div class="card-body">
        @* <div class="table col-12"> *@
        <table class="table col-12">
            <thead>
                <tr>
                    <th>Identificación</th>
                    <th>Nombre</th>
                    <th>Fecha de ingreso</th>
                    <th>Último ingreso</th>
                    <th>Estado</th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-resultados>
                <tr>
                    <td>702750827</td>
                    <td>Victor Guillén Ramirez</td>
                    <td>01-01-2024</td>
                    <td>24-10-2024</td>
                    <td>Activo</td>
                    <td class="text-info"><a>Ver</a></td>
                </tr>
                <tr>
                    <td>702750827</td>
                    <td>Victor Guillén Ramirez</td>
                    <td>01-01-2024</td>
                    <td>24-10-2024</td>
                    <td>Activo</td>
                    <td class="text-info"><a>Ver</a></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>